@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body{
	font-family: 'Roboto', sans-serif;
}

.font-changa-one{
	font-family: 'Changa One', cursive;
	font-weight: lighter;
}

.carousel-inner{
	max-height: 600px;
	object-fit: cover;
}
/*
footer a, a:visited{
	text-decoration: none;
}*/

i{
	font-size: 30px;
}


footer img{
	cursor: pointer;
	width: 75%;
}

footer i{
	font-size: 15px;
	padding: 0px !important;
}
